
@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <title>Access Denied</title>
    <meta name="viewport" content="width=device-width , initial-scale=1.0" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" herf="style.css" />
    <link rel="stylesheet" herf="https://www.w3schools.com/w3css/4/w3.css" />
    <style>
        body{
            background-color:black;
            color:white;
        }

        h1{
            color:red;
        }


        h6 {
            color: red;
            text-decoration:underline;
        }
    </style>
</head>
<body>
</body>
</html>