@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Login</h1>

<form asp-action="Login" method="post">
    <div asp-validation-summary="All"></div>

    <input type="email" asp-for="Email" placeholder="Email" class="form-control" />
    <span asp-validation-for="Email"></span>
    <br />
    <input type="Password" asp-for="Password" placeholder="Password" class="form-control" />
    <span asp-validation-for="Password"></span>
    <br />
    <div class="wthree-text">
        <label class="anim">
            <input asp-for="RememberMe" class="checkbox" required />
            <span>Keep me signed in </span>

        </label>
        <div class="clear"></div>
    </div>
    <input type="submit" value="Login" class="btn btn-primary" />
</form>
<p class="text-White">Don't Have An Account? <a asp-action="SignUp">SignUp Now</a></p>
<br />
<p class="text-White"><a asp-action="ForgetPassword">ForgetPassword</a> </p>

